<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section__pic-container">
      <img src="./assets/about.png" alt="Profile picture" class="about-pic" />
    </div>
    <div class="about-details-container">
      <div class="about-containers">
        <div class="details-container">
          <img src="./assets/education.png" alt="Education icon" class="icon" />
          <h3>Education</h3>
          <p>Logistics Degree<br />Faculdade UNA</p>
        </div>
        <div class="details-container">
          <img
            src="./assets/experience.png"
            alt="Experience icon"
            class="icon"
          />
          <h3>Frontend Development</h3>
          <p>Web Moderno <br />Cod3r Cursos</p>
        </div>
      </div>
      <div class="text-container">
        <p>
          I started my journey as a Frontend Developer a 2 years ago, after
          accumulating nine years of experience in the Logistics sector, which
          is my field of graduation. I have dedicated my studies and projects to
          improving the quality of my code, exploring the latest features of
          JavaScript and frontend frameworks. I am collaborative and aim to work
          in a team, contributing to a positive and productive work environment.
        </p>
      </div>
    </div>
  </div>
</section>
