/* GERAL */

$primary-text: #333745;
$secondary-text: #575d75;
$primary-color: #a0e4ad;
$secondary-color: #85aad1;
$background-color: #fffbf8;

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: $primary-text;
  background: $secondary-color;
}

.project-img {
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  background-color: $secondary-color;
}

.project-title {
  margin: 1rem;
  color: $primary-text;
}

.project-btn {
  border-color: $primary-text;
}

.btn-container {
  background-color: $secondary-color;
}

.article-container {
  background-color: $secondary-color;
}
