<section id="profile">

  <div class="section_text">
    <p class="section_text_p1">Hello, I'm</p>
    <h1 class="title">Frederico Santos</h1>
    <p class="section_text_p2">Frontend Developer</p>
    <div class="btn-container">
      <button
        class="btn btn-color-2"
        onclick="window.open('./assets/cv-frederico-santos-en-fev.2024.pdf')">
        Download CV
      </button>
      <button
        class="btn btn-color-1"
        routerLink="/contact">
          Contact Info
      </button>
    </div>
    <div class="socials-container">
      <a href="https://www.linkedin.com/in/frederico-oliveira95/" target="_blank">
        <img src="./assets/linkedin.png" alt="My LinkedIn" class="icon">
      </a>
      <a href="https://github.com/oliveiraFreddie" target="_blank">
        <img src="./assets/github.png" alt="My GitHub" class="icon">
      </a>
    </div>
  </div>
  <div class="section_pic-container">
    <img src="./assets/profile.png" alt="Frederico Santos Photo">
  </div>
</section>
